server:
  port: 9004

spring:
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/ncommerce
    username: user
    password: user
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  application:
    name: payment-service

eureka:
    client:
      service-url:
#        defaultZone: http://localhost:8999/eureka
        defaultZone: http://service-discovery:8999/eureka
  # Enable fetching registry
    instance:
      hostname: payment-service
      prefer-ip-address: false
      instance-id: ${spring.application.name}:${server.port}